<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>JsonToFile</title>
</head>
<body>
<form method="POST" enctype='text/plain'>
    <p>JSON значения в .txt файл:<br>
        Введите название файла, например "мой файл 1":
        <br><label>
            <input type="text" name="fileName" value="" required>
        </label><br>
        Введите JSON:
        <br><label>
            <textarea rows="15" name="jsonText" required></textarea>
        </label><br>
        <input type="submit" value="Сгенерировать и скачать файл">
    </p>
</form>
</body>
</html>